#folders excluded
**/obj
**/properties
appsettings.json
.vs/VSWorkspaceState.json
MyCoreApp/.vs/MyCoreApp/FileContentIndex/26bc6de3-64a9-4e7b-b081-f2762435ae00.vsidx
MyCoreApp/.vs/MyCoreApp/v17/.wsuo
